@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap');

.inter{
  font-family: 'Inter', sans-serif;
}

.rounded{
  border-radius: 7px;
}
.borders{
  border: 1px rgb(98, 32, 32);
  padding: 16px;
}